body {
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.container {
  position: absolute;
  text-align: center;
  color: white;
  font-family: cursive;
  font-size: 30px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
  width: 50%;
  max-width: 600px;
  z-index: 9999;

  /* Cài đặt hiệu ứng mờ dần */
  transition: opacity 1s ease, visibility 1s ease;
  opacity: 1; /* Ban đầu độ mờ là 1 (hoàn toàn hiển thị) */
  visibility: visible; /* Ban đầu phần tử có thể nhìn thấy */
}
